/*------- TESTIMONIALS SECTION -------*/
#testimonials-section {
	min-height: 500px;
	background: url("http://templates.framework-y.com/gourmet/images/bg-23.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	color: $white-text;
	display: flex;
	align-items: center;
	
	img {
		max-width: 120px;
		margin-bottom: 24px;
	}

	.item p {
		&:first-of-type {
			font-size: 16px;
			line-height: 24px;
			font-family: $libre-baskerville-font;
			font-style: italic;
		}

		&:last-of-type {
			text-transform: uppercase;
			font-size: 15px;
			line-height: 24px;
			font-family: $montserrat-font;
			margin-top: 30px;
		}
	}

	.carousel-indicators {
		position: relative;
		margin-top: 40px;
	}
}