
/* -------- HOME SECTION -----------*/
#home-page {
	height: 100%;
	display: flex;
	align-items: center;
	color: $white-text;
	background-image: url('http://templates.framework-y.com/gourmet/images/bg-22.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	
	/*-------- CLOUDS --------*/
	.animated-cloud {
		position: absolute;
		width: 100%;
		max-width: 100%;
		min-height: 600px;
		z-index: 0;		
   	overflow-x: hidden;
		opacity: 0.8;
		bottom: 0;
	}	

	#cloud-1 {
		background: url('http://templates.framework-y.com/gourmet/images/assets/clouds_1.png');
		background-repeat: repeat-x;		
		
		animation: animatedCloud-1 45s linear infinite;
	}

	@keyframes animatedCloud-1 {
		0% { background-position: 0 0; }
		100% { background-position: -100% 0; }
	}

	#cloud-2 {
		background: url('http://templates.framework-y.com/gourmet/images/assets/clouds_2.png');
		background-repeat: repeat-x;
		background-size: cover;

		animation: animatedCloud-2 25s linear infinite;
	}

	@keyframes animatedCloud-2 {
		0% { background-position: 0 0; }
		100% { background-position: 100% 0; }
	}

	

	/*--------- HEADER ------------*/
	#header {
		background: none;

		h1 {
			font-size: 38px;
			font-family: $montserrat-font;
			font-weight: 600;
		}

		p {
			font-family: $libre-baskerville-font;
			font-size: 16px;
			font-weight: 300;
			line-height: 25px;
		}
		
		/*---- BUTTON ---*/
		.btn {
			@include button-style;
			background: transparent;
			border: 1px solid #fff;			
			margin-right: 15px;
			
			&:first-child {
				;
			}

			&:hover {
				background-color: #fff;
				color: #000;
			}
		}
	}
}