/*------- FULL MENU SECTION -------*/
#full-menu-section {
	padding: 80px 0;
	font-family: $montserrat-font;
	background-color: #fff;

	position: relative; /* set z-index to hide the contact section's top box shadow */
	z-index: 2;

	/*------- TITLE BOX --------*/
	.title-box {
		@include title-box-style;
		margin-bottom: 70px;
	}

	/*----- IMAGE ------*/
	img {
		min-width: 100%;
	}

	/*------ MENU ROW ----*/
	#menu-first-row {
		margin-bottom: 70px;
	}

	/*------ MENU ITEM -----*/
	.menu-item {
		padding: 10px 0;
		border-bottom: 1px solid #E6E6E6;
		transition: all 0.3s linear;

		&:hover {
			padding-left: 5px;
			border-bottom: 1px solid #3E3E3E;			
		}

		h3 {
			margin: 0;
			font-weight: 500;
			font-size: 15px;
			line-height: 22px;
			text-align: left;
		}

		p {
			margin-top: 5px;
			margin-bottom: 0;
			font-family: $libre-baskerville-font;
			color: $grey-text;
			font-size: 16px;
			line-height: 18px;			
			text-align: left;
		}

		span {			
			text-align: right;
			font-family: $libre-baskerville-font;
			font-weight: 300;
			font-size: 15px;
		}
	}	
}