/*------ ABOUT SECTION ------*/
#about-section {
	padding: 80px 0;
	background-color: #fff;
	position: relative;
	text-align: left;

	p {		
		line-height: 25px;
	}
	
	/*----- TITLE BOX --------*/
	.title-box {
		@include title-box-style;
	}

	/*------ CONTENT PARAGRAPH -------*/
	.content {
		font-family: $libre-baskerville-font;
		font-size: 14px;
		color: $grey-text;
		margin-bottom: 30px;		
	}
	
	/*----- IMG BOX -----*/
	.img-box img {
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	}
}



/*------- ABOUT SECTION MEDIA QUERIES -------*/
@media screen and (max-width: 992px) {
	#about-section {
		/*----- TITLE BOX ----*/
		.title-box {
			text-align: center;
		}
		
		/*---- IMG BOX ----*/
		.img-box {
			margin-top: 40px;
		}
	}
}
