/*--------- INTRO SECTION -----------*/
#intro-section {
	padding: 80px 0;
	background-color: #f7f7f7;
	text-align: left;

	.single-box {
		.row {
			display: flex;
			align-items: center;
		}			

		.fa {
			font-size: 60px;
		}
				

		h2 {
			font-family: $montserrat-font;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
		}

		p {
			font-family: $libre-baskerville-font;
			font-size: 14px;
			line-height: 24px;
			color: $grey-text;
		}
	}	
}




/*------- INTRO SECTION MEDIA QUERIES -------*/
@media screen and (max-width: 767px) {
	#intro-section {
		text-align: center;

		.single-box {
			.row {				
				display: block;				
			}						
		}

		.single-box:not(:nth-of-type(4)) {
			margin-bottom: 20px;
		}		
	}
}