@import "variables";
@import "mixins";
@import "navbar";
@import "section-home";
@import "section-intro";
@import "section-about";
@import "section-top-dishes";
@import "section-testimonials";
@import "section-reservation";
@import "section-full-menu";
@import "section-contact";
@import "section-footer";


html, body {
	height: 100%;
	box-sizing: border-box;
}

body {
	letter-spacing: 0.3px;
	background-color: #f7f7f7;
}

